.project-container {
  display: flex;
  align-items: start;
  padding: 0 0.8rem 0.8rem;
  overflow-x: auto;
  height: calc(100vh - 5.7rem);
}

.add-column-btn {
  flex: 0 0 22rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  background-color: #006aa7;
  color: #a5cae0;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 150ms;
  text-align: left;
}

.add-column-btn:hover {
  background-color: #005485;
}

@supports (display: grid) {
  .project-container {
    display: grid;
    grid-auto-columns: 22rem;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
  }
}